.accounts-page{
  margin: 0 auto;
  .navigation{
    text-transform: uppercase;
  }
  .accounts-page__title{
    margin: 0 auto;
    max-width: 1440px;
    .white-section{
      h3{
        font-size: 68px;
      }
      }
  }
}